body{
	width:100%;
	background-size:100%;
	}

.logo{
	float:0;
	margin:0;
	text-align:center;
	}
	
a {
	text-decoration:none;
	color:#900;}
	
	
.MV{
	width:100%;
	}
	
.MV_area{
	width:55%;
	margin:0 auto;
	}	
	
.lyrics{
	width:100%;
	}
	
.lyrics_area{
	width:55%;
	margin:0 auto;
	}

.lyrics_area p{
	margin-bottom:30px;
	}
	
.lyrics_area p{
	margin-bottom:10px;
	}
	
.space{
	min-height:80px;
	}
	
p{
	float:0 auto;
	margin:0 auto;
	}
	
.title{
	font-size:20px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight:400;
	line-height:30px;
	letter-spacing:8px;}
	
.blue{
	color:#C00;
	}
	
h1{
	font-size:30px;
	color:#C00;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	
.big{
	font-size:24px;
	color:#333399;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	
.mid{
	font-size:22px;
	color:#333;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	
.footer{
	width:100%;
	background-color:#eae6e6;
	text-align:center;
	min-height:80px;
	}
	
.footer p{
	top:20px;
	color:#09F;}
	
.s{
	color:#09F;
	font-weight:bold;
	}

	
.h{
	color:#C00;
	font-weight:bold;
	}
