
body{
	width:100%;
	background-image:url(../images/hachijo_back2.png);
	background-size:100%;}
	
.main_area{
	position:relative;
	}
	
.spacer{
	min-height:20px;}
	
p{
	font-size:16px;
	color:#2e3940;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}

#navi{
	float: right;
	position:fixed;
	top: 5px;
	right:20px;
}

#navi ul{
	width: 600px;
	list-style-type: none;
	overflow: hidden;
}

#navi li{
	float: left;  
    text-align: center;  
	border-left:1px solid #fff;
	margin-left: -1px; 
	width: 120px;
	height: 30px;
}

#navi li a  {  
    display: block;  
	color:#fff;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
    width: 120px;  
    padding: 5px 0;   
} 

#navi li a:hover {  
	color:#FF3300;
} 

.logo{
	min-height:600px;
	width:900px;
	margin:0 auto;
	text-align:center;
	margin-bottom:70px;
	
	}

.contents{
	margin:0 auto;
	margin-bottom:150px;
	text-align:center;
	width:900px;
	min-height:200px;
	}
	
.musician{
	width:700px;
	overflow:hidden;
	margin:0 auto;
	padding-top:0px;}
	
.one{
	float:left;
	margin-left:50px;
	}

.two{
	float:left;
	margin-left:50px;
	}

.musician img{
	height:230px;}

.picture{
	width:800px;
	overflow:hidden;
	margin:0 auto;
	padding-top:0px;
	}

.pict{
	float:left;
	}
	
.pict2{
	float:left;
	margin-left:25px;
	margin-right:25px;
	}

#footer{
	position:static;
	bottom:0;
	padding-bottom:0;
	}

.button{
	width:300px;
	position:fixed;
	top:20px;
	left:40px;}
	